# === Логи и отчеты об ошибках ===
/logs/
/crash-reports/
*.log

# === Миры, бэкапы и серверные данные ===
/saves/
/backups/
/server-resource-packs/
banned-ips.json
banned-players.json
ops.json
whitelist.json

# === Кэш, библиотеки и служебные папки лаунчера ===
/.analytics/
/libraries/
/versions/
/data/
/local/
/asm/
/assets/

# === Данные карт и прогресса (у каждого игрока свои) ===
XaeroWaypoints/
XaeroWaypoints_BACKUP*/
XaeroWorldMap/
journeymap/data/
journeymap/icon/
TCNodeTracker/
compendiumunlocks/
compendiumUpdates/
BotaniaVars.dat

# === Локальный кэш сессий (отслеживать нельзя) ===
usernamecache.json
usercache.json
realms_persistence.json

# === Медиа ===
/screenshots/

# === Системный мусор и файлы IDE ===
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.iml

/coretweaks/cache/
/coretweaks/out/
/journeymap/colorpalette.json
/journeymap/colorpalette.html
/mod-config/
/cfgSbor/dir.txt
/instance.json
/knownkeys.txt
/localconfig.cfg
/libraries.bk
/versions.bk
/optionsnf.txt
