# === Логи и отчеты об ошибках ===
/logs/
/crash-reports/
*.log

# === Миры, бэкапы и серверные данные ===
/saves/
/backups/
/server-resource-packs/
banned-ips.json
banned-players.json
ops.json
whitelist.json

# === Кэш, библиотеки и служебные папки лаунчера ===
/.analytics/
/libraries/
/versions/
/data/
/local/
/asm/
/assets/

# === Данные карт и прогресса (у каждого игрока свои) ===
XaeroWaypoints/
XaeroWaypoints_BACKUP*/
XaeroWorldMap/
journeymap/data/
journeymap/icon/
TCNodeTracker/
compendiumunlocks/
compendiumUpdates/
BotaniaVars.dat

# === Локальный кэш сессий (отслеживать нельзя) ===
usernamecache.json
usercache.json
realms_persistence.json

# === Медиа ===
/screenshots/

# === Системный мусор и файлы IDE ===
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.iml

/coretweaks/cache/
/coretweaks/out/
/journeymap/colorpalette.json
/journeymap/colorpalette.html
/cfgSbor/dir.txt
/knownkeys.txt
/localconfig.cfg
/libraries.bk
/versions.bk
/servers.dat
/stencil*.png
/serverutilities/server/stat_leaderboards.json
/resourcepacks/TranslateModsMagicRPG/assets/gadomancy/lang/backup.txt
/world/
/world_*/
/eula.txt
/launcher_profiles.json
/launcher_accounts.json
/natives/
/downloads/
/config/txloader/load/bugtorch/sounds/
/memory_repo/
/.mixin.out/
hs_err_pid*
replay_pid*
*.cache
*.tmp
*.temp
*.bak
*.bk
*.old
*.orig
*.rej
*.lck
*.lock
*.swp
*~
