# Configuration file

client {
    I:maxColumns=4
    B:useOldGuiButton=false
    B:useOldRendering=false
}


debug {
    B:hideDebugItem=true
}


general {
    I:soulBoundEnchantments <
     >
}


menu {
    B:displayTooltipOnHover=true
    B:manualSlotSelection=false
    B:showUnusedSlots=false
}


override {
    S:defualtSlotTypes <
        amulet
        ring
        ring
        belt
        Terminal
        quiver
        heartcanister_red
        heartcanister_yellow
        heartcanister_green
     >
    S:slotStackLimitOverrides <
     >
    S:slotTypeOverrides <
        amulet
        ring
        ring
        belt
     >
    S:slotUniversalOverrides <
     >
}


