# Configuration file

general {
    # Моды в черном списке будут проигнорированы.
    S:blacklist <
        Example Mod
        ExampleCraft|Factory
     >

    # Метод исправления «кривого» текста. Доступные параметры:
    #   disabled: Отключить любое исправление шрифта.
    #   always: Применять исправление шрифта независимо от его типа.
    #   moderate: Работать только тогда, когда все символы отображаются в шрифте Unicode.
    # Лучшая практика: установить [fixDerpyFont] в значение moderate и включить в игре [Force Unicode Font].
    S:fixDerpyFont=always
}


