# Configuration file

general {
    # Максимальное количество энергии в единицах AE, которое может хранить беспроводной терминал [default: 1600000, min: 800000, max:6400000]
    I:ae2wctMaxPower=1600000

    # Шанс, что из визера выпадет бесконечная карта усиления (в %-100=всегда выпадет)
    I:boosterDropChance=50

    # Включить выпадение карты усиления в сложном режиме (true=включено) [default: true]
    B:boosterDropsEnabled=true

    # Проверка обновлений [default: true]
    B:doVersionCheck=true

    # Включить лёгкий режим (легче рецепты+рецепт бесконечного усилителя) [default: false]
    B:enableEasyMode=false

    # Включить улучшение бесконечного усилителя дальности [default: true]
    B:enableInfinityBooster=true

    # Включить переопределение MineTweaker (true=отключает все рецепты) [default: false]
    B:mineTweakerOverride=false
}


