# Configuration file

~CONFIG_VERSION: rv3-beta-959-GTNH

counters {
    I:lastGridStorage=0
    I:lastPlayer=0
}


dimensionmanager {
    I:StorageCells <
     >
}


gridstorage {
}


gridstoragedata {
    B:newDataFormat=true
}


players {
}


